
@inherits Panel

<root>
    @foreach (var achv in DisplayedAchievements)
    {
        <div class="achievement-entry">
            <div class="heading">
                <label class="achievement-name">@achv.DisplayName</label>
            </div>
            <div class="details">
                <div class="icon" style="background-image: url(@achv.Thumbnail)">
                    @if (TrailPass.Current.TryGetAchievement(achv.ShortName, out var tpAch))
                    {
                        <label class="badge xp">@(tpAch.ExperienceGranted)xp</label>
                        SetClass("has-experience", true);
                    }
                </div>
            </div>
        </div>
    }
</root>

@code {
    private List<Achievement> DisplayedAchievements = new();

    [Event("achievement.set")]
    public async void OnAchievementSet(string shortname)
    {
        var ach = Achievement.All.FirstOrDefault(x => x.ShortName == shortname);
        if (ach == null) return;
        if (DisplayedAchievements.Contains(ach)) return;

        DisplayedAchievements.Add(ach);
        StateHasChanged();

        Sound.FromScreen("sounds/ui/achievement.unlocked.sound", .8f, 0f);

        await Task.Delay(6000);

        DisplayedAchievements.Remove(ach);
        StateHasChanged();
    }
}
