@inherits NavHostPanel
@implements Sandbox.Menu.IGameMenuPanel
@attribute [StyleSheet("styles/stylesheet.scss")]

<root class="open">
    <div class="header">
        <div class="header-logo"></div>
        <div class="header-navigation">

            @if (Game.InGame)
            {
                <navlink href="/menu/currentgame">
                    <label>Current Game</label>
                    <div class="stroke"></div>
                </navlink>
            }

            <navlink href="/menu">
                <label>Find Game</label>
                <div class="stroke"></div>
            </navlink>

            <navlink href="/menu/maps">
                <label>Create Game</label>
                <div class="stroke"></div>
            </navlink>

            @if(Game.InGame)
            {
                <navlink href="/menu/trailpass">
                    <label>Trail Pass</label>
                    <div class="stroke"></div>
                </navlink>

                <navlink href="/menu/customize">
                    <label>Customize</label>
                    <div class="stroke"></div>
                </navlink>

                <navlink href="/menu/controls">
                    <label>Controls</label>
                    <div class="stroke"></div>
                </navlink>
            }

        </div>

        <div class="header-right">
            <navlink href="/menu/settings" class="hidden">
                <label>Settings</label>
                <div class="stroke"></div>
            </navlink>

        </div>
    </div>
    <div class="body">
        <div class="navigator-canvas" slot="navigator-canvas"></div>
    </div>
</root>

@code {
    public Menu()
    {
        DefaultUrl = "/menu";
    }
}
