
@inherits Panel
@attribute [StyleSheet("UI/Styles/newplayerdialog.scss")]

<root>
        <div class="content">
        <label class="title is-styled">Tutorial</label>
        <label class="is-styled">We've noticed this is your first time playing.

Play through the tutorial map to prepare warm up your Unicycle skills and prepare for unpredictable terrains and challenging obstacles.

If you're the DIY type, close this dialog and pedal away
        </label>

        @if(Warning)
        {
            <label class="warning">We can't load the tutorial map here because you've joined another player's lobby.  Create your own game and select the tutorial map from the menu.</label>
        }
    </div>

    <div class="footer">
        <button @onclick=@Close class="button is-secondary">
            <div class="button-bg"></div>
            <label>Close</label>
        </button>
        <button @onclick=@LoadTutorial class="button is-primary">
            <div class="button-bg"></div>
            <label>Play Tutorial</label>
        </button>
    </div>
</root>

@code {
    private bool Warning;

    public bool Open
    {
        get => HasClass("open");
        set => SetClass("open", value);
    }

    public void Close() => Open = false;

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if(firstTime)
        {
            Open = !Game.Server.MapIdent.EndsWith( "uf_tutorial" ) && !Cookie.Get( "uf.hasplayed", false );

            Cookie.Set( "uf.hasplayed", true );
        }
    }

    public void LoadTutorial()
    {
        if (!Game.IsListenServer)
        {
            Warning = true;
            StateHasChanged();
            return;
        }

        UnicycleFrenzy.ServerCmd_ChangeMap("facepunch.uf_tutorial");
    }
}
