
@inherits Panel

<root>
    <label class="heading">Match starting in:</label>
    <label class="timer">@TimeLeft</label>
</root>

@code {
    private float TimeLeft = 20;
    private TimeSince TimeSincePulse;

    [Event.Frame]
    private void OnFrame()
    {
        if (UnicycleFrenzy.Game.GameState != UnicycleFrenzy.GameStates.PreMatch)
        {
            SetClass("open", false);
            return;
        }

        SetClass("open", true);

        var timeleft = MathX.CeilToInt(UnicycleFrenzy.Game.StateTimer);
        if (timeleft < TimeLeft)
        {
            TimeLeft = timeleft;
            Pulse();
        }

        if (TimeSincePulse > .25f)
        {
            RemoveClass("pulse");
        }
    }

    private void Pulse()
    {
        TimeSincePulse = 0;
        SetClass("pulse", true);

        if (TimeLeft >= 0)
            Sound.FromScreen("sounds/ui/timer.prematch.pulse.sound");
        else
            Sound.FromScreen("sounds/ui/timer.prematch.over.sound");
    }

    protected override int BuildHash()
    {
        return TimeLeft.GetHashCode();
    }
}
