UnicycleLean {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .leftlean {
        left: 0%;
        background-image: linear-gradient( to right, rgba( #cc2424, .5 ), rgba( #333, 0) );
        width: 25%;
    }

    .rightlean {
        left: 50%;
        background-image: linear-gradient( to left, rgba( #01a4f6, .5 ), rgba( #333, 0) );
        width: 25%;
    }
}
