
@inherits Panel
@page "/menu"

<root class="spaced">
    <div class="container">
        <div class="columns">
            <div class="column is-9">
                <div class="heading">
                    <label class="section-title title">Games</label>
                    <div class="grow"></div>
                    <div class="button is-large" @onmousedown="@Refresh"><div class="button-bg"></div>Refresh</div>
                </div>
               <ServerListPanel @ref="ServerList" />
            </div>
            <div class="column is-3">
                <ServerPanel class="@(hasSelection ? "visible" : "hidden")" Server="@SelectedServer" />
            </div>
        </div>
    </div>
</root>

@code {
    ServerListPanel ServerList;
    ServerList.Entry SelectedServer;
    bool hasSelection;

    void Refresh()
    {
        hasSelection = false;
        ServerList.Refresh();
    }

    public void OnServerSelected(ServerList.Entry server)
    {
        hasSelection = true;
        SelectedServer = server;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(hasSelection, SelectedServer);
    }
}
