
@inherits NavHostPanel

<root>
	<div class="body">
		<div @ref="NavigatorCanvas" />
	</div>
</root>

@code {

	public MainMenu()
	{
		DefaultUrl = "/home";
		AddDestination("/home", typeof(HomePage));
		AddDestination("/solo", typeof(SoloPage));
		AddDestination("/customize", typeof(CustomizePage));
		AddDestination("/settings", typeof(SettingsPage));

	}
}
