
@import "../_vars.scss";
@import "../_button.scss";

menu {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

MainMenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    flex-direction: row;
    pointer-events: all;
    //background-image: url("textures/ui/menu-background.png");
    background-size: 100%;
}

PartyPanel {
    .invite-friend {
    }
}

HomePage {
}

.sidebar {
    width: 300px;
    flex-shrink: 0;
}

.navbar {
    flex-direction: column;
    width: 100%;
    flex-shrink: 1;
    position: absolute;
    bottom: 100px;

    .button {
        color: black;
        font-size: 30px;
        font-weight: 800;
        padding: 15px;
        background-color: rgba( lightgray, .35 );
        cursor: pointer;
        margin-bottom: 8px;
        justify-content: flex-end;
        padding-right: 30px;
        text-transform: uppercase;

        &:hover {
            background-color: rgba( lighten(lightgray, 10%), .8 );
        }
    }
}

SoloPage {
    width: 100%;
    backdrop-filter: blur( 10px );

    .medal {
        width: 50px;
        height: 100%;
        position: absolute;
        right: 0;
        align-self: center;
        align-content: center;
        justify-content: center;
        aspect-ratio: 1;
    }

    .bronze {
        background-image: url("textures/achievements/bronze_medal.png");
        background-size: cover;
        right: 0px;
    }

    .silver {
        background-image: url("textures/achievements/silver_medal.png");
        background-size: cover;
        right: 20px;
    }

    .gold {
        background-image: url("textures/achievements/gold_medal.png");
        background-size: cover;
        right: 40px;
    }

    .platinum {
        background-image: url("textures/achievements/expert.png");
        background-size: cover;
        right: 60px;
    }

    .frenzy {
        background-image: url("textures/achievements/frenzy.png");
        background-size: cover;
        right: 100px;
    }


    .track-container {
        position: absolute;
        top: 15%;
        width: 100%;
        height: 500px;
        justify-content: space-evenly;
    }

    .track-panel {
        height: 500px;
        width: 500px;
        background-color: red;

        .track-name {
            font-family: $stylefont;
            font-size: 30px;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 10px;
        }

        .track-icon {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .track-info {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px;
            font-family: $stylefont;
            font-size: 30px;
            flex-direction: column;

            .track-time {
            }
        }
    }

    .tracks {
        flex-direction: column;
        background-color: rgba( lightgray, .05 );

        .track {
            padding: 10px;
            background-color: rgba( lightgray, .35 );
            margin: 20px;
            font-family: $stylefont;
            width: 250px;

            &:hover {
                background-color: rgba( lighten(lightgray, 10%), .8 );
            }

            .track-icon {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                aspect-ratio: 1;
            }

            .track-name {
                text-align: left;
                font-size: 24px;
            }

            .track-artist {
                font-size: 15px;
            }

            .track-duration {
                font-size: 15px;
            }

            .track-play {
                &:hover {
                    color: $blue;
                }
            }

            .track-pause {
                &:hover {
                    color: $blue;
                }
            }

            .track-delete {
                &:hover {
                    color: $blue
                }
            }
        }

        .green {
            background-color: rgba( green, .35 );
        }

        .yellow {
            background-color: rgba( yellow, .35 );
        }

        .orange {
            background-color: rgba( orange, .35 );
        }

        .red {
            background-color: rgba( red, .35 );
        }
    }

    .xp-bar-container {
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
    }

    .xp-bar {
        width: 1200px;
        height: 48px;
        background-color: $darker-purple;
        position: absolute;
        bottom: 30%;
        left: 20%;

        .xp-bar-item {
            width: 96px;
            height: 96px;
            background-color: $dark-purple;
            border: 5px solid white;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            transform: translateX(-50%);
            top: 70px;
            z-index: 2;
            align-content: center;
            align-items: center;
            justify-content: center;

            .xp-bar-arrow {
                background-image: url("textures/ui/control_charge.png");
                bottom: 58px;
                width: 40px;
                height: 30px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 1;
            }
            .xp-bar-amount{
                font-size: 20px;
                font-family: $stylefont;
                color: white;
                position: absolute;
            }
        }

        .xp-bar-fill {
            background-color: $blue;
            height: 100%;
        }

        .xp-bar-text {
            font-size: 30px;
            font-family: $stylefont;
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

CustomizePage {

    .right-side {
        right: 0;
        bottom: 0;

        .button {
            width: 100%;
            height: 100%;
            padding: 10px;
            background-color: rgba(lightgray, .44);
            text-transform: uppercase;
            font-size: 20px;
            color: black;
            cursor: pointer;

            &:hover {
                background-color: lighten( rgba(lightgray, .9), 20% );
            }
        }
    }

    .input-rot {
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 12%;
        justify-content: center;

        .input-rot-container {
            left: 60px;
            width: 208px;
            flex-direction: row;
            align-content: center;
            align-items: center;

            .input-rot-item {
                font-size: 40px;
                font-family: Material Icons;
            }
        }
    }

    .clothingpage-container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 50px;
    }

    .clothing-container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }

    .clothing-skin {
        flex-direction: row;
        align-items: center;
    }

    .item {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        pointer-events: none;
        gap: 10px;

        .item-title {
            font-size: 30px;
            font-family: $stylefont;
        }

        .skin-items {
            width: 200px;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;

            .skin-item {


                .item-image {
                    width: 28px;
                    height: 28px;
                    padding: 10px;
                    margin: 10px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: rebeccapurple;
                    border: 3px solid black;
                }

                cursor: pointer;
                z-index: 100;
                pointer-events: all;

                &:hover {
                    background-color: rgba( lightgray, .35 );
                }
            }
        }
    }

    .clothing-item {
        width: 200px;
        height: 150px;
        background-color: rgba( lightgray, .35 );
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        .item-name {
            font-size: 20px;
            font-family: $stylefont;
            bottom: 0;
            position: absolute;
        }

        .item-image {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .arrow {
            width: 50px;
            height: 100%;
            background-image: url("tools/images/common/arrow_right.png");
            background-size: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: rgba( lightgray, .35 );
            cursor: pointer;
            z-index: 100;
            pointer-events: all;

            &:hover {
                background-color: rgba( lighten(lightgray, 10%), .8 );
            }
        }

        .left {
            background-image: url("tools/images/common/arrow_left.png");
        }
    }
}
