@inherits Panel
@attribute [StyleSheet("/UI/Styles/stylesheet.scss")]

<root class="@(IsLocalClient ? "local" : "")">
    <label>@Message</label>
</root>

@code {
    public string Message { get; set; }
    public bool IsLocalClient { get; set; }
}
