
@inherits Panel

<root>
    <label class="name" text="@actionName" />
    <div @ref="Icon" class="icon">
        <div class="charge"></div>
    </div>
    @if ( glyphTexture == null )
    {
        <label class="bind" text="@button" />
    }
</root>

@code {
    public Panel Icon { get; set; }

    private string actionName;
    private string button;
    private Texture glyphTexture;

    public void Set(string name, string button, bool hasCharge = false)
    {
        SetClass("open", true);
        SetClass("has-charge", hasCharge);
        Sound.FromScreen("sounds/misc/tutorial.hint.sound");

        actionName = name;
        glyphTexture = null;
        this.button = button;
        StateHasChanged();
    }

    public void Set(string name, InputActions action, bool hasCharge = false)
    {
        SetClass("open", true);
        SetClass("has-charge", hasCharge);
        Sound.FromScreen("sounds/misc/tutorial.hint.sound");

        actionName = name;
        glyphTexture = GetCustomTexture(action);
        button = string.Empty;
        StateHasChanged();
    }

    public override void Tick()
    {
        base.Tick();

        if (glyphTexture != null)
        {
            Icon.Style.BackgroundImage = glyphTexture;
        }
        else
        {
            Icon.Style.BackgroundImage = null;
        }
    }

    private Texture GetCustomTexture(InputActions action)
    {
        var path = action switch
        {
            InputActions.Lean => "textures/ui/control_lean",
            InputActions.Look => "textures/ui/control_look",
            _ => ""
        };

        if (Input.UsingController)
            path += "_controller";

        path += ".png";

        return Texture.Load(FileSystem.Mounted, path);
    }
}
