
@inherits Panel;

@if (Package == null)
    return;

@{
    var thumbUrl = string.IsNullOrEmpty(Package.Thumb) ? "https://files.facepunch.com/sbox/asset/facepunch.unicycle_frenzy/logo.c35e8d94.png" : Package.Thumb;
}

<style>
    .map-image {
        background-image: url(@thumbUrl);
    }
</style>

<root class="column is-3 map button-sound">

    <div class="map-image">
        <div class="check"></div>
    </div>
    <div class="box map-body">
        <label class="title is-styled" @text="MapName">@Package.Title.Replace("unicycle frenzy", "", StringComparison.OrdinalIgnoreCase).Trim()</label>
        <ProgressBar Current=@Completed Max=@Total />
    </div>

</root>

@code {
    public Package Package { get; set; }

    private int Total;
    private int Completed;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        var allAchievements = Achievement.FetchForMap(Package.FullIdent).Where(x => !x.PerMap);
        Completed = allAchievements.Count(x => x.IsCompleted());
        Total = allAchievements.Count();

        SetClass("is-complete", Total > 0 && Completed == Total);
    }

    protected override void OnMouseDown(MousePanelEvent e)
    {
        base.OnMouseDown(e);

        Ancestors.OfType<Menu>()?.FirstOrDefault()?.Navigate($"menu/achievements/view?package_ident={Package.FullIdent}");
    }
}
