
@inherits Panel;
@page "/menu/currentgame"

<root class="spaced">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <StatsMapInfo />
                <div class="grow"></div>
                <div class="rows">
                    <div class="button is-secondary is-large grow" onmousedown=@Disconnect><div class="button-bg"></div>Leave Game</div>
                </div>
            </div>
            <div class="column is-6">
                <LeaderboardTabs />
            </div>
            <div class="column is-3">
                <StatsAchievements title="Map Achievements" />
            </div>
        </div>
    </div>
</root>

@code {
    void Disconnect()
    {
        Game.Disconnect();
        Ancestors.OfType<Menu>().FirstOrDefault()?.Navigate("/menu");
    }
}
