
@inherits Panel

<root class="table-row">
    <div class="table-td position">
        <label>@Rank</label>
    </div>
    <div class="table-td name">
        <label>@Name</label>
    </div>
    <div class="table-td time">
        <label>@Score.FormattedTimeMsf()</label>
    </div>
</root>

@code {

    public int Rank { get; set; }
    public string Name { get; set; }
    public float Score { get; set; }
    public long PlayerId { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        SetClass("me", PlayerId == Local.Client.PlayerId);
        SetClass("friend", new Friend(PlayerId).IsFriend);
    }

    //public void SpectateThisPlayer()
    //{
    //    var cl = Client.All.FirstOrDefault(x => x.PlayerId == playerid);
    //    if (cl == null) return;
    //    if (!cl.Pawn.IsValid()) return;

    //    UnicyclePlayer.ServerCmd_SetSpectateTarget(cl.Pawn.NetworkIdent);

    //    Ancestors.OfType<Menu>().FirstOrDefault()?.Close();
    //}

}
