
@inherits Panel;
@page "/menu/stats"

<root class="spaced">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <StatsMapInfo />
            </div>
            <div class="column is-6">
                <LeaderboardTabs />
            </div>
            <div class="column is-3">
                <StatsAchievements title="Map Achievements" />
            </div>
        </div>
    </div>
</root>
