@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="tut">
		<div class="tut-container">
			<div class="tut-title">@tutorialHint.HintTitle</div>
			<div class="tut-text">@tutorialHint.HintText</div>
			<div class="skip-timer">
			<div class="skip-bar" style="width:@CalculateBar(timeSinceCreated,1)"></div>
				@if (timeSinceCreated > 1)
				{
					<div class="skip-text">Press the spacebar to continue</div>
				}
			</div>
		</div>
		<VideoPanel Source="@tutorialHint.HintVideo"></VideoPanel>
	</div>
</root>

@code
{
    public TutorialType TutorialType { get; set; } = TutorialType.YLean;
    public UFTutorialHint tutorialHint;
    //public UnicycleController Player { get; set; }

    private RealTimeSince timeSinceCreated = 0;

	public void ShowTutorial( TutorialType tutorialType )
	{
		TutorialType = tutorialType;
		Game.ActiveScene.TimeScale = 0.01f;
	}

	protected override void OnUpdate()
	{
		if (Input.Released("jump") && timeSinceCreated > 1)
		{
			Game.ActiveScene.TimeScale = 1.0f;            
			Destroy();
		}
	}

	public string CalculateBar( float value, float max )
	{
		return $"{(value / max) * 100}%";
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(tutorialHint, timeSinceCreated, CalculateBar(timeSinceCreated, 3));
}
