
@inherits Panel
@page "/home";

<root>

	<div class="sidebar">
		<div class="logo"></div>
		<div class="navbar">
			<a class="button" href="/solo">Solo</a>
			<div class="button" onclick="@(() => LoadScene())">Tutorial</div>
			<a class="button" href="/AchievementsStats">Achievements</a>
			<a class="button" href="/customize">Customize</a>
			<a class="button" href="/settings">Settings</a>
		</div>
	</div>

@* 	<PartyPanel class="party-panel" /> *@
</root>
@code
{
	void LoadScene()
	{
		Game.ActiveScene.LoadFromFile("scenes/maps/tutorial_01.scene");
	}

}
