
<root>
    <label class="rank">#@Rank</label>
    <label class="name">@Name</label>
    <label class="time">@Time.FormattedTimeMsf()</label>
</root>

@code {
    public int Rank { get; set; }
    public string Name { get; set; }
    public float Time { get; set; }
}
